{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <section>{{#with main.experience}}
            {{>title data=title big=true}}
            <div>
                {{>title data="My Experience" }}
            </div>
            <div>
                <p>
                    {{!-- {{text}} --}}
                </p>
            </div>
            {{/with}}
        </section>

        <section>
            {{!-- {{#with user1}} --}}
            <div>
                <h3>Other experience</h3>
            </div>
            <div>
                <p>
                    Pet project for parsing sport betting data from different platforms ( odds ) and sport statistics (
                    tournament position, goals etc), analyzing by simple mathematics models and preparing probability
                    for such events like: money line - first win / draw / second win, totals etc.
                </p>
            </div>
            {{!-- {{/with}} --}}
        </section>
    </main>


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}